@page
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">User</div>
        <div class="col-8"><input type="text" id="userInput" placeholder="Please Enter Username" class="form-control" /></div>
    </div>
    <br />
    <div class="row">
        <div class="col-2">Message</div>
        <div class="col-8"><input type="text" id="messageInput"   placeholder="Please enter Your Message" class="form-control"/></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton" value="Send Message" class="btn btn-success"  />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="container " style="color:blue">
    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>